body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: white;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            width: 320px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

       .login-container  input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

       .login-container  button {
            width: 100%;
            padding: 10px;
            background-color: #2980b9;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .login-container  button:hover {
            background-color: #3498db;
        }

        .login-container  p {
            text-align: center;
            margin-top: 15px;
        }

      .login-container  a {
            color: #2980b9;
            text-decoration: none;
        }

      .login-container  a:hover {
            text-decoration: underline;
        }